:root {
    --main-color: linear-gradient(135deg, #8895F4, #3F50FF);
}

.modal {
    background-color: rgba(0, 0, 0, 0.116);
}

.modal .modal-content {
    background: rgb(247, 240, 252);
    outline: none;
    border: none;
}

.modal .modal-content .modal-header {
    background: var(--main-color);
    color: #fff;
    font-weight: 700;
}

.modal .modal-content .modal-body {
    background: linear-gradient(135deg, #ffffff, #fbfbff);
    border-radius: 0px;
}

.modal .modal-content .modal-footer {
    background: var(--main-color);
}