/*
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@400;600&display=swap");
@import url('https://fonts.cdnfonts.com/css/bauhaus-93');
*/

:root {
    --main-color: linear-gradient(135deg, #8895F4, #3F50FF);
}


* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

/*-----------------------------main content----------------------------*/

.main--content {
    position: relative;
    background: #ebebeb;
    width: 100%;
    padding: 1rem;
}

.seperator {
    background: #ccf;
    padding: 1px;
    list-style: none;
}


/*---------------------------------------Student-Management----------------------------------------*/


.form--wrapper {
    background-color: #ffffff;
    background-image: var(--main-color);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
    overflow: hidden;
    transition: all 0.5s linear;
    display: none;
}

.form--wrapper label {
    font-size: 15px;
    font-weight: 500;
    padding-left: 5px;
    margin-bottom: 5px;
}

.form--wrapper h2 {
    color: #fff;
}

.hide {
    display: block;
}

.edit-form-title-group {
    display: flex;
    justify-content: space-between;
}

.close-btn-admission {
    padding: 5px;
    color: #fff;
    background: tomato;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 20px;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0; /* Adjust the margin as needed */
}

.separator span {
    color: #1100ff46;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid  #1100ff46; /* Adjust the color as needed */
}

.separator:not(:empty)::before {
    margin-right: 10px; /* Adjust the spacing as needed */
}

.separator:not(:empty)::after {
    margin-left: 10px; /* Adjust the spacing as needed */
}

input {
    background: white;
}

.loading_image {
    width: 180px;
    height: 180px;
    margin-top: -20px;
    margin-bottom: 10px;
    position: relative;
}
